.sub-menu-button{        
    width: 90px;
    height: 30px;

    outline: none;
    border:none;
    background: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;

    border-bottom: 1px solid black
}
.sub-menu-button:last-child{
    border: none;
}

.sub-menu-button:hover{
    background: #a3a3a3;
}

.sub-menu-button--text{
    text-transform: capitalize;
    margin-left: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}



.sub-menu-button--icon-edit{
 background: url('../../Assets/Edit.svg');

}

.sub-menu-button--icon-delete{
    background: url('../../Assets/TrashBasket.svg');

}
.sub-menu-button--icon-done{
    background: url('../../Assets/Like.svg');
   
}
.sub-menu-button--icon{
    width: 14px;
    height: 14px;
    margin-right: 5px;
    background-repeat: no-repeat;
}