.todo-card {
  position: relative;
  border: 1px black solid;
  width: 500px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
}

.todo-card__done{
  border-color: #1ea943;
  color: #1ea943;
}
.todo-card__done::before{
  content: '';
  position: absolute;
  width: 100%;;
  height: 3px;
  background-color: #00752587;
}

.todo-card--number {
  min-width: 48px;
  height: 48px;
  padding-top: 14px;
  background: #e3e3e3;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
.todo-card--text {
  margin-left: 5px;

  height: 16px;
  min-width: 200px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
}
.todo-card--deadline {
  text-align: center;
  padding-top: 3px;
  height: 22px;
  margin-right: 5px;
  min-width: 115px;

  overflow: hidden;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 15px;
}
.todo-card--deadline__danger {
  background: red;
  color: aliceblue;
}
