.danger-msg{
    margin: 0 auto;
    color:red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

.pop-outin {
    animation: 0.5s anim-popoutin ease;
  }
  
  @keyframes anim-popoutin {
    0% {
      color: black;
      transform: scale(0);
      opacity: 0;
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      transform: scale(1);
      opacity: 1;
      text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
    }
  }

  .inactive {
    display: none;
  }
