.base-button {
  width: 100px;
  height: 40px;
  background: #f6f9f6;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;

  text-transform: uppercase;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: #000000;
}

.base-button:hover {
  background: #dbdddb;
}
