.priority{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #000;
  height: 100%;
  width: 100%;
}

.priority-option-list {
  position: absolute;
  top: 15px;
  left: -1px;
  z-index: 900;
  background: #fff;
  width: 48px;
  border: 1px solid #000;
  border-top: none;
}

.selected-option{
  margin-top: 3px;
  
}

.priority-option-container{ 
  width: 100%;
  max-width: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.priority-option-container__input{
  cursor: pointer;
}

.priority-option-container__input:hover{
  background:#a3a3a3
}
.option-value{
 margin-bottom: 5px;
}

.option-value0{
  color: #E50000;
  transform: rotate(180deg);
}

.option-value1{
  color: #E23B04;
  transform: rotate(180deg);
}
.option-value1:first-child{
  display: none;
}

.option-value2{
  color: #FF4915;
  transform: rotate(180deg);
}
.option-value2:first-child{
  display: none;
}
.option-value2:last-child{
  display: none;
}

.option-value5{
  color: #0300AC;
}

.option-value4{
  color: #4944FF;
}
.option-value4:first-child{
  display: none;
}

.option-value3{
  color: #07D7E4;
}
.option-value3:first-child{
  display: none;
}
.option-value3:last-child{
  display: none;
}


.hidden-list{
  display: none;
}
