.priority{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #000;
  height: 100%;
  width: 100%;
}

.priority-option-list {
  position: absolute;
  top: 0px;
  padding-top: 15px;
  
  z-index: 1;
  background: #fff;
  width: 104%;
  border: 1px solid #000;
  border-top: none;
}

.selected-option{
  width: 100%;
  height: 100%;
}


.priority-option-container{ 
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.priority-option-container__input{
  cursor: pointer;
  height: 100%;
}

.priority-option-container__input:hover{
  background:#a3a3a3
}
.option-value{
 margin-bottom: 5px;
}

.option-value0{
  color: #E50000;
  transform: rotate(180deg);
}

.option-value1{
  color: #E23B04;
  transform: rotate(180deg);
}
.option-value1:first-child{
  display: none;
}

.option-value2{
  color: #FF4915;
  transform: rotate(180deg);
}
.option-value2:first-child{
  display: none;
}
.option-value2:last-child{
  display: none;
}

.option-value5{
  color: #0300AC;
}

.option-value4{
  color: #4944FF;
}
.option-value4:first-child{
  display: none;
}

.option-value3{
  color: #07D7E4;
}
.option-value3:first-child{
  display: none;
}
.option-value3:last-child{
  display: none;
}


.hidden-list{
  display: none;
}


@media (max-width: 768px) {
  .priority{
    width: 35px;
    padding-left: 2px;
    padding-top: 2px;
  }
  .priority-option-container{ 
    width:30px;
  }
  
  .priority-option-container__input{
    width:30px;
  }
  .priority-option-list {
    width: 105%;
    left: -2%;
  }

}
