{
  "extends": ["react-app", "react-app/jest"],
  "rules": {
    "eol-last": ["error", "always"],
    "quotes": ["warn", "single"],
    "no-console": "warn",
    "prefer-const": "error",
    "indent": ["warn", 4],
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "semi": ["warn", "always"],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ],
        "newlines-between": "always-and-inside-groups"
      }
    ],
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": "always",
        "ObjectPattern": {
          "multiline": true
        },
        "ImportDeclaration": "always",
        "ExportDeclaration": {
          "multiline": true,
          "minProperties": 3
        }
      }
    ]
  }
}
