.sub-menu{
    position: relative;
    display: flex;
}
.sub-menu--dots-container{
    width: 48px;
    height: 40px;

    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
}
.sub-menu--dot{
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #000;
}
.sub-menu--buttons-container{
    position: absolute;
    z-index: 1;
    width: 100px;
    top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid #000;
    background-color: #fff;
}

@media (max-width: 768px) {
    .sub-menu--dots-container{
        width: 28px;
    }

    .sub-menu--dot{
        width: 2px;
        height: 2px;
    }

    .sub-menu--buttons-container{
        right: 5px;
    }

}