.priority{
    width: 50px;
    text-align: center;
    background-position: center;
    position: absolute;

    top: 0px;
    left: 450px;

}

.priority--option{   
    width: 50px;
    height: 48px;
   color: rgb(44, 132, 180);
}

.priority--option1{
    fill: yellowgreen;
}
.option-value2{
    color: rgb(255, 47, 120);
}
.priority--option3{

}

.priority--option4{

  }

  .priority--option6{

  }

  .priority--option6{

  }