.my-datepicker-container {
  border: none;
  width: 150px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 15px;

  outline: none;
}
.my-datepicker-container::placeholder {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 15px;

  color: #7e7c7c;
}
