.my-datepicker-container {
  border: none;
  width: 170px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 15px;

  background: url("./Assets/monthly-calendar-svgrepo-com.svg") no-repeat 145px
    1px;
  background-size: auto 95%;

  outline: none;
}

.my-datepicker-container::placeholder {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 15px;

  color: #7e7c7c;
}
