.danger-button {
  width: 100px;
  height: 40px;

  background: #ed0303;
  border: 1px solid #ffffff;
  border-radius: 5px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: #ffffff;
}
