.tooltip {
    position: absolute;
    display: inline-block;
    border-bottom: 1px dotted  #555; 


}

.tooltip .tooltiptext {
    min-width: 80px;
    max-width:250px;
    white-space: nowrap;
    background-color:  #555;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
 
    position: absolute;
    z-index: 1;
}

.tooltip-hiden{
    display: none;
}

@media (max-width: 768px) {
    .tooltip{
        display: none;
    }

}